@charset "UTF-8";

@font-face {
    font-family: android;
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: normal;
    src: url('../fontes/Rationale-Regular.ttf') format(truetype);
    font-weight: normal;
}

/* 
    #c5ebd6
    #83e1ad
    #3ddc84
    #2fa866
    #1a5c37
    #063d1e
*/

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-android: 'Android', sans-serif;
    --fonte-normal: 'normal', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header{
    background-color: var(--cor4);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4), var(--cor5));
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}

header > p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.267);
    margin-bottom: 20px;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor4);
    color: var(--cor5);
}

header > h1 {
    color: white;
    font-family: var(--fonte-normal);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.274);
}

main{
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img.pequena{
    display: block;
    margin: auto;
    max-width: 350px;
}

main img{
    width: 100%;
}

div.video{
    background-color: var(--cor6);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-normal);
    font-size: 2.5em;
}

main h2{
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor5);
    font-size: 1.3em;
    text-indent: 8px;
}

main p{
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
    padding: 2px 6px;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor6);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside > h3{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
}

aside a{
    background-color: var(--cor4);
    padding: -20px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor5);
    color: white;
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}